@model MyElectronix.Areas.Admin.Models.CategoryModels.CreateEditCategoryViewModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h4>Create new Category Below</h4>

@Html.Partial("_CreateEditCategory")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
